<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='mystyle.css') }}">
	</head>


<body>
		<form action="/login" method="get">
			<button type="submit">Login</button>	
		</form>	
<div class = 'pane'>
<h1>Online Shopping Websites</h1>

<a href="{{url_for('newOnlineshopping')}}" > <h3> Create a New Shopping Website </h3> </a>

{% for shoppingwebsite in shoppingwebsites %}



<a href = "{{url_for('showProduct', shoppingwebsite_id = shoppingwebsite.id)}}"> <p>{{shoppingwebsite.name}}</p></a>

<p><a href = "{{url_for('editOnlineshopping',shoppingwebsite_id = shoppingwebsite.id)}}">Edit Onlineshopping</a></p>

<p> <a href = "{{url_for('deleteOnlineshopping',shoppingwebsite_id = shoppingwebsite.id)}}">Delete Onlineshopping</a> </p>




{% endfor %}

</div>
</body>

</html>
